*{
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
}
html,
body,
p,
a,
li,
span,
strong,
section,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Muli !important;
  letter-spacing: 0.3px !important;
}